<p><%= comment.body %></p>

<p><span style="font-size: 75%; color: 999">
Added at <%= comment.created_at%> by <%= comment.author %>

	<%= link_to 'Delete', [comment.article, comment],
				method: :delete,
				data: { confirm: 'Are you sure?' } %>
</span></p>
<hr>